<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1781">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <img class="cs-logomark" src="https://cosweb.b-cdn.net/Car%20Logo.png" alt="logo" loading="lazy" decoding="async" height="100" width="122">
            <h2 class="cs-title">Auto Detail SEO</h2>
            <span class="cs-outline">SEO That Shines</span>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <img class="cs-logo" src="https://cosweb.b-cdn.net/auto%20cars%20logo%20design%20(1).png" alt="logo" loading="lazy" decoding="async" height="48" width="217">
            <p class="cs-text">Auto Detail SEO is a brand of Colorado Springs Web Designs,  based out of Colorado Springs, Colorado. We serve clients nationwide.</p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">Text us anytime</span>
                    <a class="cs-contact" href="">(888) 349-4844</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Send us an email</span>
                    <a class="cs-contact" href="">matt@coloradospringswebdesigns.com</a>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/services/auto-detail-websites">Auto Detail Websites</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/auto-detail-seo">Auto Detail SEO</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/auto-detail-paid-ads">Auto Detail Paid Ads</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/book">Get Started Now!</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 <a href="/" class="cs-credit-link" target="_blank">Auto Detail SEO</a>
        </span>
        <div class="cs-bottom-links">
            <a href="/terms" class="cs-bottom-link">Terms & Conditions</a>
            <a href="/privacy" class="cs-bottom-link">Privacy Policy</a>
        </div>
    </div>
</footer>
                                